{% extends 'sass/base.html' %}

{% block content %}

<br/>
<div class ="col-md-6 offset-md-3">
<h1 style="text-align:center; color:green;"> Login </h1>
<form method ="POST">   
    {% csrf_token %}
    
    <div class="mb-3">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" name="username"            aria-describedby="emailHelp">
     
    </div>
    <div class="mb-3">
    <label for="exampleInputPassword1">Password</label> 
        <input type="password" class="form-control" name="password">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}