{% extends 'sass/base.html' %}

{% block content %}

<br/><br/><br/><br/>
<h1 style="color:red; text-align:center;"> PRAISE THE LORD </h1>
<p> Authentication </p>


<table class="table table-striped table-bordered table-hover">
    <thead >
      <tr class="table-success">
        <th scope="col">Nam</th>
        <th scope="col">Price</th>
        

      </tr>
    </thead>
    <tbody>


{% if goods %}

{% for able in goods %}

<tr>
    <td>{{ able.name }}</td>
    <td>{{ able.price }}</td>
    <td>{{ able.address }}</td>
    
  </tr>
{% endfor %}

{% endif %}

</tbody>
</table>

{% endblock %}